    <entry>
        <title><%= @title %></title>
        <link href="<%= @link %>"/>
        <author><name>Ze Frank</name></author>
        <id>tag:joe.definitelynotsafe.com,<%= @tag_ymd %>:/zefrank/<%= @mdy %></id>
        <updated><%= @updated %></updated>
        <summary><%= @summary %></summary>
    </entry>
